body, ul, div{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #004579;
}

@font-face{
    font-family: "Raleway-Regular";
    src: url('./fonts/raleway/Raleway-Regular.ttf');

}

@font-face{
    font-family: "Raleway-Bold";
    src: url('./fonts/raleway/Raleway-Bold.ttf');

}


@font-face{
    font-family: "Raleway-Italic";
    src: url('./fonts/raleway/Raleway-Italic.ttf');
}


nav{
    background-color: #002541;
    max-height: 75px;
    height: 75px;
    text-align: center;
}


nav ul li{
    list-style: none;
    color: #fff;
    display: inline-block;
    width: auto;
    border-bottom: #005FA7 solid 2px;
    text-align: center;
    margin-top: 25px;
    margin-right: 5%;
    font-family: 'Raleway-Bold';
    font-size: 15px;
    cursor: pointer;
}

/* .radius-shape{    
    display: inline-block;
    width: 100%;
    min-height: 4em;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    background-color: red;
}

.radius-top{
    background-color: blue;
    width: 100%;
    height: 200px;
    border-radius: 50% 50% 0px 0px;
} */

.landing-page{
    width: 100%;
    background-image: url('../img/hero.png');
    background-repeat: no-repeat;
    height: auto;
    background-size: contain;
    background-position: 0px -99px;
    padding-top: 50px;
    
}

.landing-page .logo{
    display: block;
    margin: auto;
    width: 150px;
    
}

.landing-page .main-title{
    display: block;
    color: #fff;
    margin: auto;
    margin-top: 300px;
    font-family: 'Raleway-Bold';
    font-size: 70px;
    text-align: center;
}
.bottom-line-span{
    width: 150px;
    border-bottom: solid #fff 2px;
    display: block;
    margin: auto;
    height: 20px;

}

.landing-page .featured-text{
    text-align: center;
    color: #fff;
    font-family: 'Raleway-Bold';
    font-size: 22px;
    width: 600px;
    margin: auto;
    display: block;
    line-height: 32px;
    margin-top: 40px;
    
}




.featured-text-container{
    background: linear-gradient(transparent, #004579);
}
.landing-page .video-container{    
    width: 770px;
    display: block;
    margin: auto;
    padding: 5px;
    margin-top: 50px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    max-width: 80%;
}

.landing-page .resort-desc{
    text-align: center;
    color: #fff;
    font-family: 'Raleway-Regular';
    font-size: 17px;
    width: 770px;
    margin: auto;
    display: block;
    line-height: 32px;
    margin-top: 40px;
    max-width: 80%;
    margin-bottom: 150px;
    
}
.secondary-hero{
    background-image: url('../img/secondary-hero.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.secondary-hero .secondary-titles-container h1{
    color: #fff;
    font-family: 'Raleway-Bold';
    text-align: center;
    font-size: 70px;
}

.secondary-hero .secondary-titles-container h3{
    color: #fff;
    font-family: 'Raleway-Bold';
    text-align: center;
    font-size: 40px;
}
.circle-top{
    background-image: url('../img/curved-top.png');
    height: 85px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 84px;
}

.circle-bottom{
    background-image: url('../img/curved-bottom.png');
    height: 85px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 84px;
    margin-top: 150px;
}

/*Mobile */

@media only screen and (max-width: 780px){

    nav{
        display: none;
    }

    .landing-page{
        background-size: contain;
        padding-top: 10px;
        background-position: initial;
    }
    .landing-page .logo{
        width: 100px;
    }

    .landing-page .main-title{
        
        margin-top: 150px;     
        font-size: 40px;       
        max-width: 220px;
    }

    

    .landing-page span{
        height: 13px;
    }

    .landing-page .featured-text-container{
        /* background-color: #004579; */
        padding-top: 20px;
    }
    .landing-page .featured-text{
        text-align: center;
        font-size: 18px;
        width: 228px;
        margin-top: 0px;
        
    }

    .landing-page .video-container{
        max-width: 80%;
        
    }

    .landing-page .video-container iframe{
        height: 211px;
    }
}


